.background {
  viewport-fill: black;
}

#myLabel {
  font-size: 60;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 30%;
  y: 22%+40;
  fill: azure;
}

#myDate {
  font-size: 23;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 30%;
  y: 19%;
  fill: yellow;
}


.application-fill           { fill: fb-black; }
.foreground-fill            { fill: fb-white; }
.background-fill            { fill: fb-black; }

#container {
  width: 100%;
  height: 60;
  x: 0;
  y: 60%-60;
} 

#background {
  width: 100%;
  height: 100%;
  opacity: 0.60;
}

#myHR {
  font-size: 23;
  font-family: System-Light;
  text-length: 32;
  text-anchor: start;
  x: 20%-10;
  y: 60%;
  fill: white;
  
}

#mySteps {
  font-size: 23;
  font-family: System-Light;
  text-length: 32;
  text-anchor: end;
  x: 100%-10;
  y: 60%;
  fill: white;
  
}

#myCalories {
  font-size: 23;
  font-family: System-Light;
  text-length: 32;
  text-anchor: end;
  x: 100%-10;
  y: 60%;
  fill: white;
  
}

#myFloors {
  font-size: 23;
  font-family: System-Light;
  text-length: 32;
  text-anchor: end;
  x: 100%-10;
  y: 60%;
  fill: white;
  
}

#myAzm {
  font-size: 23;
  font-family: System-Light;
  text-length: 32;
  text-anchor: end;
  x: 100%-10;
  y: 60%;
  fill: white;
  
}


.cycle-item text {
  font-family: System-Light;
  font-size: 22;
  x: 100%-10;
  text-anchor: end;
  fill: white;
}