.background {
  viewport-fill: black;
}

#myLabel {
  font-size: 60;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 30%;
  y: 20%+40;
  fill: azure;
}

#myDate {
  font-size: 20;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 30%;
  y: 15%;
  fill: yellow;
}
